<title>Michael_M_webapp</title>
<h1>Michael Morten</h1>
<p>Here is information and facts about me</p>


<h2>Things people didn't know about me</h2>

<ul>List of specifics </ul>
<li>I have 3 kids, ...4 to be exact</li>
<li>I have a beautiful GF/ fiance</li>
<li>I love her dearly</li>

<h3>Text Input</h3>

<form>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
</form>



<p> NEEDED LINK<%= link_to 'mmorten', mmorten_path%> </p>