<title>Michael_M_webapp</title>
<%= image_tag 'myself.jpg', height:300 %>
<h1>Michael Morten</h1>
<p>This is a test make sure my webpages are working </p>


<h2>This is a page about myself</h2>
<p>Here is a list of things I do well</p>
<h2>List of qualifications</h2>
<ul>
<li>Coding</li>
<li>Chess</li>
<li>PC repair</li>
<li>Loving my family</li>
<li>Linux</li>
</ul>
<p> NEEDED LINK <%= link_to 'aboutMe', aboutMe_path%> </p>
<p> Link to Q&A page <%= link_to 'questions', questions_path%>